section.bildboard
    .container 
        .bildboard-content
            h1.bildboard-content__head 
                span Lorem ipsum 
                | dolor sit <br> amet consectetur 
                span adipiscing
            .bildboard-content-list
                .bildboard-content-list__head At vero eos et accusamus et iusto odio dignissimos ducimus!
                ul.bildboard-content-list-ul
                    li.bildboard-content-list-ul__item Totam rem aperiam eaque ipsa
                    li.bildboard-content-list-ul__item Sit voluptatem accusantium doloremque laudantium
                    li.bildboard-content-list-ul__item Sed ut perspiciatis, unde omnis iste natus error
            .bildboard-content__btns
                button(type="button").bildboard-content__btn заказать
                button(type="button").bildboard-content__btn подробнее