footer.footer 
    .container
        .footer-content
            .footer-content__copyright © 2018 
                span «LoremIpsum.net» 
                | Все права защищены.
            .footer-content__separator
            .footer-content-wallets
                .footer-content-wallet
                    .footer-content-wallet__icon
                        +svg('qiwi')
                    .footer-content-wallet__text Qiwi wallet
                .footer-content-wallet
                    .footer-content-wallet__icon
                        +svg('yandex')
                    .footer-content-wallet__text Yandex Money
                .footer-content-wallet
                    .footer-content-wallet__icon
                        +svg('web')
                    .footer-content-wallet__text Web Money
            .footer-content__separator
            .footer-content-socials
                a(href="mailto:info@ipsum228.com").footer-content-social
                    .footer-content-social__icon
                        +svg('mail')
                    .footer-content-social__text info@ipsum228.com
                a(href="javascript:void(0);").footer-content-social
                    .footer-content-social__icon
                        +svg('vk')
                    .footer-content-social__text Мы вконтакте