header.header.header--fixed
    .container.header-wrapper
        a(href="/").header-logo LoremIpsum.
            span.header-logo__end Net
        
        nav.nav
            a(href="javascript:void(0);").nav__item Бизнес
            a(href="javascript:void(0);").nav__item О нас
            a(href="javascript:void(0);").nav__item Цены
            a(href="javascript:void(0);").nav__item Оформить заказ

        button.header-burger-menu.js-burger-menu(type="button" aria-label="Открыть меню")
            span.header-burger-menu__line
            span.header-burger-menu__line
            span.header-burger-menu__line

.mobile-menu.js-mobile-menu
    .mobile-menu__item
        a.mobile-menu__link(href="javascript:void(0);") Бизнес
    .mobile-menu__item
        a.mobile-menu__link(href="javascript:void(0);") О нас
    .mobile-menu__item
        a.mobile-menu__link(href="javascript:void(0);") Цены
    .mobile-menu__item
        a.mobile-menu__link(href="javascript:void(0);") Оформить заказ