.select
	a(href="javascript:void(0);").select__btn.js-select Выберите тип системы
	ul.select__drop.js-drop
		li.js-option
			a(href="javascript:void(0);" data-option="Sed ut perspiciatis") Sed ut perspiciatis
		li.js-option
			a(href="javascript:void(0);" data-option="Nemo enim ipsam") Nemo enim ipsam
		li.js-option
			a(href="javascript:void(0);" data-option="Et harum quidem") Et harum quidem
		li.js-option
			a(href="javascript:void(0);" data-option="Temporibus autem") Temporibus autem
		li.js-option
			a(href="javascript:void(0);" data-option="Itaque earum rerum") Itaque earum rerum
		li.js-option
			a(href="javascript:void(0);" data-option="Itaque earum rerum 2") Itaque earum rerum 2
		li.js-option
			a(href="javascript:void(0);" data-option="Itaque earum rerum 3") Itaque earum rerum 3
		li.js-option
			a(href="javascript:void(0);" data-option="Itaque earum rerum 4") Itaque earum rerum 4
		li.js-option
			a(href="javascript:void(0);" data-option="Itaque earum rerum 5") Itaque earum rerum 5
	input(type="hidden" id="select" name="type")
