$black: #000;
$lightBlack: #2a2b30;
$white: #ffffff;
$white70: rgba(255, 255, 255, 70%);
$white85: rgba(255, 255, 255, 85%);
$gray: #6f6d7b;
$graySecond: #C3C3C3;
$grayThird: #BBBBBB;
$grayFourth: #C4C4C4;
$darkBlue: #10101d;
$darkBlueSecond: #3D4050;
$darkBlueThird: #272733;
$lightBlue: #42a9ed;
$lightBlueHover: #43abf0;
$lightBlueSecond: #3e9cdc;
$lightBlueThird: #286690;
