@font-face {
	font-family: 'Lato';
	font-display: swap;
	src: url("../../fonts/Lato-Black.woff2") format("woff2"), url("../../fonts/Lato-Black.woff") format("woff");
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: 'Lato';
	font-display: swap;
	src: url("../../fonts/Lato-Bold.woff2") format("woff2"), url("../../fonts/Lato-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Lato';
	font-display: swap;
	src: url("../../fonts/Lato-SemiBold.woff2") format("woff2"), url("../../fonts/Lato-SemiBold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Lato';
	font-display: swap;
	src: url("../../fonts/Lato-Regular.woff2") format("woff2"), url("../../fonts/Lato-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Raleway';
	font-display: swap;
	src: url("../../fonts/Raleway-Bold.woff2") format("woff2"), url("../../fonts/Raleway-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Raleway';
	font-display: swap;
	src: url("../../fonts/Raleway-Regular.woff2") format("woff2"), url("../../fonts/Raleway-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Raleway';
	font-display: swap;
	src: url("../../fonts/Raleway-Medium.woff2") format("woff2"), url("../../fonts/Raleway-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}
